---
openapi: 3.0.1

info:
  title: Getting Started with Passport Global API
  description: <h2>Introduction</h2><p>Passport Global's API is designed to allow for quick integration to begin selling and shipping internationally. It offers endpoints for general shipping-related functions, including rate requests and shipping label generation.</p><h2>Prerequisites</h2><p><ul><li>Passport Global API is a REST-like API. All methods must be called using HTTPS.</li><li>Authentication and identification is done by providing an API key on every request as a custom HTTP header "X-Access-Token".</li><li>All requests are made using the POST method.</li><li>The API key is provided by our onboarding team. For more details see registration and authentication.</li><li>The API uses JSON formatting for requests and responses.</li><li>Environments<ul><li>Testing Environment:<a href="https://api-stg.passportshipping.com/v3"> api-stg.passportshipping.com/v3</a></li><li>Production Environment:<a href="https://api.passportshipping.com/v3"> api.passportshipping.com/v3</a></li></ul></li></ul></p><h2>Registration and Authentication</h2><p>During the onboarding or integration process, our Onboarding team will create an account for your organization and provide the API key to your designated point of contact, which is typically a member of the operations, development team, or one of the founders.</p><h2>Making Your First Request</h2><p>A typical first request is to obtain a shipping rate. Use the <code>/rate</code> endpoint, providing necessary details like the addresses (<code>address_to</code> and <code>address_from</code>), parcel dimensions, and item descriptions.<br/><br/>Use the documentation below to see an example request body for a rate request</p><h2>Response Handling</h2><p>Successful responses return a 200 status code<br/><br/>Handle error responses (for example 401 Unauthorized, 404 Not Found) according to the provided error messages for each endpoint provided below.</p>
  version: '3.15'
  x-logo:
    url: 'PassportLogo.svg'
    background: '#FAFAFA'
    altText: 'Logo Passport added via API Definition'

servers:
  - url: https://api-stg.passportshipping.com/v3

tags:
  - name: Rate
  - name: Ship
  - name: Void
  - name: Order
  - name: Cart
  - name: Product Price
  - name: Tax And Duty
  - name: Healthcheck

paths:
  /rate:
    post:
      tags:
        - Rate
      summary: Request a shipping rate including landed cost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rate_Request'
        required: true
      responses:
        200:
          description: (OK) List of available rates for given shipment params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rate_Response'
        400:
          description: Bad Request (See details in the examples)
          content:
            application/json:
              examples:
                MixedCurrency:
                  value:
                    message: "Passport only accepts a single currency for items at a time. Currencies received: ['USD', 'AED', 'GBP']"
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        422:
          $ref: '#/components/responses/InvalidData'
        500:
          $ref: '#/components/responses/ServerError'

  /ship:
    post:
      tags:
        - Ship
      summary: Request a shipping label
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ship_Request'
        required: true
      responses:
        200:
          description: (OK) List of available rates for given shipment params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ship_Response'
        400:
          description: Bad Request (See details in the examples)
          content:
            application/json:
              examples:
                BadRequest:
                  value:
                    message: "Brand has not been onboarded within Passport’s system. Please reach out to Passport support."
                MixedCurrency:
                  value:
                    message: "Passport only accepts a single currency for items at a time. Currencies received: ['USD', 'AED', 'GBP']"
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        422:
          $ref: '#/components/responses/InvalidData'
        500:
          $ref: '#/components/responses/ServerError'
  /void/{code}:
    post:
      tags:
        - Void
      summary: Void an existing shipping label
      parameters:
        - in: path
          name: code
          schema:
            type: string
          required: true
          description: Uses the tracking code returned by /ship endpoint
      responses:
        200:
          description: (OK) label voided
        400:
          description: Bad Request, with an error message for non-voidable shipments
        404:
          description: Not Found, for invalid tracking codes
  /order:
    servers:
      - url: https://api-stg.passportshipping.com/custom/v1
    post:
      tags:
        - Order
      summary: Send order information
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order_POST_Request'
        required: true
      responses:
        200:
          description: OK
        400:
          description: Bad Request - Brand has not been onboarded within Passport’s system. Please reach out to Passport support.
          content:
            application/json:
              examples:
                IntegrationNotFound:
                  value:
                    details: "Brand has not been onboarded within Passport’s system. Please reach out to Passport support."
        401:
          description: Unauthorized - Unable to access the requested resource, authorization failed.
          content:
            application/json:
              examples:
                UnauthorizedAccess:
                  value:
                    message: "Unable to access the requested resource, authorization failed."
                    details: "missing/incorrect authorization data"
        403:
          description: Forbidden - Brand is blocked.
          content:
            application/json:
              examples:
                MerchantBlocked:
                  value:
                    message: "Brand is blocked"
                    details: "Brand is blocked"
        404:
          description: Not Found
          content:
            application/json:
              examples:
                NotFound:
                  value:
                    message: "Not Found"
                    code: 0
                    details: "Bad URL"
        422:
          description: Unprocessable Entity (See details in the examples)
          content:
            application/json:
              examples:
                EmptyBody:
                  value:
                    message: "Body cant be blank"
                    details: "Empty body"
                ValidationErrors:
                  value:
                    message: "Body validation errors"
                    details:
                      body:
                        currency_code:
                          - "Currency code cannot be blank"
                          - "Currency must be a string."
                          - "Currency code should contain 3 characters."
                        value:
                          - "Value must be a number."
                          - "Value cannot be blank"
                          - "Value must be no greater than 99999999.99."
                          - "Value must be no less than 0.01."
                        total_value:
                          - "Total value must be a number."
                          - "Total value cannot be blank"
                          - "Total value must be no greater than 99999999.99."
                          - "Total value must be no less than 0.01."
                        order_name:
                          - "Order name value cannot be blank"
                          - "Order name should contain at most 100 characters."
                        created:
                          - "Created name value cannot be blank"
                          - "Created must be an integer."
                      items:
                        name:
                          - "Name cannot be blank"
                        requires_shipping:
                          - "Requires shipping cannot be blank"
                        value:
                          - "Value must be a number."
                          - "Value cannot be blank"
                          - "Value must be no greater than 99999.99."
                          - "Value must be no less than 0.01."
                        value_discounted:
                          - "Value discounted must be a number."
                          - "Value discounted cannot be blank"
                          - "Value discounted must be no greater than 99999.99."
                          - "Value discounted must be no less than 0.01."
                        quantity:
                          - "Quantity cannot be blank"
                          - "Quantity discounted must be a number."
                        weight:
                          - "Weight cannot be blank"
                      address_to:
                        street1:
                          - "street1 cannot be blank"
                          - "street1 must be a string"
                        city:
                          - "city cannot be blank"
                          - "city must be a string"
                        country:
                          - "country cannot be blank"
                          - "country must be a string"
                        company:
                          - "Company must be a string"
                        street2:
                          - "Street2 must be a string"
                      shipping:
                        id:
                          - "Id must be a number."
                        rate:
                          - "Rate must be a number."
                          - "Rate cannot be blank"
                          - "Rate must be no greater than 99999.99."
                          - "Rate must be no less than 0.01."
                        duty:
                          - "Duty must be a number."
                          - "Duty cannot be blank"
                          - "Duty must be no greater than 99999.99."
                          - "Duty must be no less than 0.01."
                        tax:
                          - "Tax must be a number."
                          - "Tax cannot be blank"
                          - "Tax must be no greater than 99999.99."
                          - "Tax must be no less than 0.01."
                        service_name:
                          - "Service name must be a string."
                        duty_source:
                          - "Duty source name must be a string."
                        tax_source:
                          - "Tax source name must be a string."
        500:
          description: Internal Server Error
          content:
            application/json:
              examples:
                InternalError:
                  value:
                    message: "Sorry, something went wrong while processing your request. We are already working on a solution. RequestId: $RequestId"
                    details: "Internal Server Error"

    put:
      parameters:
        - name: orderNames
          in: query
          required: true
          description: Unique order identifier used to update an order. This is not case sensitive
          schema:
            type: string
          example: 'WEB-1001'
      tags:
        - Order
      summary: Update order information
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order_PUT_Request'
        required: true
      responses:
        200:
          description: Success, order data has been successfully updated and saved;
        401:
          description: 'Unauthorised: Returned when authentication fails'
          content:
            application/json:
              examples:
                UnauthorizedAccess:
                  value:
                    message: "Unauthorised: Returned when authentication fails"
        403:
          description: "Denied: Returned when orders are past 1 year"
          content:
            application/json:
              examples:
                MerchantBlocked:
                  value:
                    message: "Denied: Returned when orders are past 1 year"
        404:
          description: "Not found: order with ORDER_NAME not found"
          content:
            application/json:
              examples:
                NotFound:
                  value:
                    message: "Not found: order with ORDER_NAME not found"
        422:
          description: "Unprocessable Entity: Returned when the request payload is missing mandatory information or contains invalid data."
          content:
            application/json:
              examples:
                ValidationErrors:
                  value:
                    message: "Unprocessable Entity: Returned when the request payload is missing mandatory information or contains invalid data"

    delete:
      parameters:
        - name: orderNames
          in: query
          required: true
          description: Unique order identifier used to update an order. This is not case sensitive.
          schema:
            type: string
          example: 'WEB-1001,WEB-1002,WEB-1003'
      tags:
        - Order
      summary: Delete order
      responses:
        200:
          description: request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_DELETE_Response'
        400:
          description: "Bad Request: Returned when order name is not in correct format or brand is not onboarded within Passport’s systems."
          content:
            application/json:
              examples:
                BadRequest:
                  value:
                    message: "Returned when order name is not in correct format or brand is not onboarded within Passport’s systems."
        401:
          description: 'Unauthorised: Returned when authentication fails.'
          content:
            application/json:
              examples:
                UnauthorizedAccess:
                  value:
                    message: "Unauthorised: Returned when authentication fails."
        403:
          description: "Forbidden: Brand is blocked"
          content:
            application/json:
              examples:
                MerchantBlocked:
                  value:
                    message: "Forbidden: Brand is blocked"
        500:
          description: Internal Server Error
          content:
            application/json:
              examples:
                InternalError:
                  value:
                    message: "Internal Server Error"
    get:
      parameters:
        - name: orderNames
          in: query
          required: true
          description: Unique order identifier used to update an order. This is not case sensitive.
          schema:
            type: string
          example: 'WEB-1001,WEB-1002,WEB-1003'
      tags:
        - Order
      summary: Get orders
      responses:
        200:
          description: "Request successfully processed"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_GET_Response'
        400:
          description: "Bad Request"
          content:
            application/json:
              examples:
                RequiredAndMustNonEmptyString:
                  value:
                    message: "Query parameter 'orderNames' is required and must be a non-empty string"
                MustContainLeastOneValue:
                  value:
                    message: "Query parameter 'orderNames' must contain at least one value"
                IntegrationNotConfigured:
                  value:
                    message: "Integration is not configured for this merchant"
                BrandNotOnboarded:
                  value:
                    message: "Brand has not been onboarded within Passport’s system. Please reach out to Passport support"
        401:
          description: 'Unauthorised: Missing or invalid credentials'
          content:
            application/json:
              examples:
                UnauthorizedAccess:
                  value:
                    message: "Unauthorised: Missing or invalid credentials"
        403:
          description: "Forbidden: Brand is blocked"
          content:
            application/json:
              examples:
                MerchantBlocked:
                  value:
                    message: "Forbidden: Brand is blocked"
        404:
          description: "Not Found: Orders were not found"
          content:
            application/json:
              examples:
                NotFound:
                  value:
                    message: "Not found: Orders were not found"
        500:
          description: "Internal Server Error: Generic failure while processing the request. The response contains a message with a `RequestId` you can share with support"
          content:
            application/json:
              examples:
                InternalError:
                  value:
                    message: "Internal Server Error: Generic failure while processing the request. The response contains a message with a `RequestId` you can share with support"
  /cart:
    servers:
      - url: https://api-stg.passportshipping.com/custom/v1
    post:
      tags:
        - Cart
      summary: Request rates for shipping, duties, and taxes for an order
      description: |
        Brands can send information to this endpoint to receive rates (shipping, duties & taxes) for an order.
        Rates can be configured by contacting Passport for each country & service level:
        - Shipping: Live, flat, free, free with threshold
        - Duties: Live, free
        - Taxes: Live, free

        Rates can also be received in the desired local currency.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cart_Request'
        required: true
      responses:
        200:
          description: (OK) Rates calculated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart_Response'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          description: Forbidden - Merchant is blocked
        404:
          $ref: '#/components/responses/NotFound'
        422:
          description: Request payload is missing mandatory data or contains invalid data
        500:
          $ref: '#/components/responses/ServerError'
  /product-price:
    servers:
      - url: https://api-stg.passportshipping.com/custom/v1
    post:
      tags:
        - Product Price
      summary: Get converted product prices in selected currency
      description: |
        E-commerce brands can use the product price endpoint to request product prices in the currency of their choosing. API details:
        - Exchange rates are updated 1/day to ensure product price stability through the day. Brands can also choose to configure static exchange rates of their choosing.
        - Product prices are rounded to 0 decimal places by default, but can be customized on a per currency basis.
        - Product prices use a default display format, but can be customized on a per currency basis.
      operationId: getProductPrice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPrice_Request'
      responses:
        '200':
          description: Successful response with converted product prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPrice_Response'
        '400':
          description: Bad Request - Currency not supported or other validation errors
          content:
            application/json:
              examples:
                PresentmentCurrencyNotSupported:
                  value:
                    message: "presentment_currency EUR is not supported."
                    details: "Currency is not supported"
                BaseCurrencyNotSupported:
                  value:
                    message: "base_currency XYZ is not supported."
                    details: "Currency is not supported"
        '401':
          description: Unauthorized - Unable to access the requested resource, authorization failed
          content:
            application/json:
              examples:
                UnauthorizedAccess:
                  value:
                    message: "Unable to access the requested resource, authorization failed."
                    details: "missing/incorrect authorization data"
        '403':
          description: Forbidden - Merchant is blocked
          content:
            application/json:
              examples:
                MerchantBlocked:
                  value:
                    message: "Merchant is blocked"
                    details: "Merchant is blocked"
        '404':
          description: Not Found - Bad URL
          content:
            application/json:
              examples:
                NotFound:
                  value:
                    message: "Not Found"
                    code: 0
                    details: "Bad URL"
        '422':
          description: Unprocessable Entity - Body validation errors
          content:
            application/json:
              examples:
                ValidationErrors:
                  value:
                    message: "Body validation errors"
                    details:
                      body:
                        base_currency:
                          - "Base currency cannot be blank."
                        presentment_currency:
                          - "Presentment currency cannot be blank."
                        values:
                          - "Values cannot be blank."
                        reference:
                          - "Reference cannot be blank."
                        value:
                          - "Value cannot be blank."
                          - "Value must be no less than 0.01."
                          - "Value must be no greater than 9999999.99."
                          - "Value must be a number."
        '500':
          description: Internal Server Error - Other errors or unprocessed exceptions
          content:
            application/json:
              examples:
                InternalError:
                  value:
                    message: "Sorry, something went wrong while processing your request. We are already working on a solution. RequestId: $RequestId"
                    details: "Other errors or unprocessed exceptions."

  /tax-and-duty:
    servers:
      - url: https://api-stg.passportshipping.com/custom/v1
    post:
      tags:
        - Tax And Duty
      summary: Calculate tax and duty for an order
      description: |
        Brands can send information to this endpoint to receive landed costs (duties & taxes), in their desired currency for an order.
        
        This API supports all landed cost calculations for any physical products from any country to any country, with a few exceptions:
        - Domestic tax calculations (except for Canada, Australia)
        - US inbound taxes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxAndDuty_Request'
        required: true
      responses:
        200:
          description: (OK) Tax and duty calculated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxAndDuty_Response'
        400:
          description: Bad Request - Brand has not been onboarded within Passport's system. Please reach out to Passport support.
          content:
            application/json:
              examples:
                BrandNotOnboarded:
                  value:
                    message: "Brand has not been onboarded within Passport's system. Please reach out to Passport support."
        401:
          description: Unauthorized - Unable to access the requested resource, authorization failed.
          content:
            application/json:
              examples:
                UnauthorizedAccess:
                  value:
                    message: "Unable to access the requested resource, authorization failed."
                    details: "missing/incorrect authorization data"
        403:
          description: Forbidden - Brand is blocked.
          content:
            application/json:
              examples:
                MerchantBlocked:
                  value:
                    message: "Brand is blocked"
                    details: "Brand is blocked"
        404:
          description: Not Found
          content:
            application/json:
              examples:
                NotFound:
                  value:
                    message: "Not Found"
                    code: 0
                    details: "Bad URL"
        422:
          description: Unprocessable Entity - Returned when the request payload is missing mandatory data or contains invalid data.
          content:
            application/json:
              examples:
                ValidationErrors:
                  value:
                    message: "Request payload is missing mandatory data or contains invalid data"
        500:
          description: Internal Server Error
          content:
            application/json:
              examples:
                InternalError:
                  value:
                    message: "Sorry, something went wrong while processing your request. We are already working on a solution. RequestId: $RequestId"
                    details: "Internal Server Error"

  /ping:
    get:
      tags:
        - Healthcheck
      summary: Healtcheck
      description: Check if the API Server is up and running
      responses:
        200:
          description: (OK), API Server is Up and running

components:
  responses:
    BadRequest:
      description: Brand has not been onboarded within Passport’s system. Please reach out to Passport support.
    Unauthorized:
      description: (Unauthorized) Unable to access the requested resource, you don't have authorization, please check your API Key
    NotFound:
      description: Sender's company not found in the list of authorized values, please, contact us if the company name is correct
    InvalidData:
      description: If data validation fails, an error description with HTTP status = 422 is returned.
    ServerError:
      description: Internal Server Error.

  schemas:
    Rate_Request:
      type: object
      required: [address_to, address_from, parcel, items]
      properties:
        reference:
          type: string
          description: The ID you are using for identifying the order for which you are requesting the rate, optional but strongly encouraged
          example: shipmentref
        address_to:
          type: object
          required: [street1, country]
          properties:
            reference:
              type: string
              example: To address 1
            street1:
              type: string
              description: Must contain a street number.
              maxLength: 40
              example: 111 Broadway Ave.
            street2:
              type: string
              maxLength: 40
              example: Floor 7
            city:
              type: string
              maxLength: 32
              example: London
            state:
              type: string
              maxLength: 100
              example: ""
              description: Required for most destination countries. Optional but strongly encouraged to ensure smooth delivery.
            zip:
              type: string
              example: B33 8TH
            country:
              type: string
              example: GB
              description: Use 2-letter ISO country code
              externalDocs:
                url: http://www.worlddata.info/countrycodes.php
            name:
              type: string
              maxLength: 100
              example: John Smith
            company:
              type: string
              maxLength: 100
              example: Company Inc
            phone:
              type: string
              maxLength: 100
              example: 518-111-1111
              description: Optional but strongly encouraged to ensure smooth delivery.
            email:
              type: string
              maxLength: 100
              example: js-myth@example.com
              description: Optional but strongly encouraged to ensure smooth delivery.
        address_from:
          type: object
          required: [street1, country, company]
          properties:
            reference:
              type: string
              maxLength: 100
              example: From address 1
            street1:
              type: string
              maxLength: 40
              example: 111 sunset blvd.
            street2:
              type: string
              maxLength: 40
              example:
            city:
              type: string
              maxLength: 32
              example: Los angeles
            state:
              type: string
              maxLength: 100
              example: CA
              description: Required for most destination countries. Optional but strongly encouraged to ensure smooth delivery.
            zip:
              type: string
              example: "90111"
            country:
              type: string
              example: US
              description: Use 2-letter ISO country code
              externalDocs:
                url: http://www.worlddata.info/countrycodes.php
            name:
              type: string
              maxLength: 100
              example: Allison Fox
            company:
              type: string
              maxLength: 100
              example: Lululemon
            phone:
              type: string
              maxLength: 100
              example: 518-111-1111
              description: Optional but strongly encouraged to ensure smooth delivery.
            email:
              type: string
              maxLength: 100
              example: js-myth@example.com
              description: Optional but strongly encouraged to ensure smooth delivery.
        parcel:
          type: object
          required: [length, width, height]
          properties:
            reference:
              type: string
              example: Parcel ID
            length:
              type: number
              example: 10.5
            units_length:
              type: string
              enum: ['in', 'ft', 'mm', 'cm', 'm']
              default: 'in'
              example: in
            width:
              type: number
              description: 'Units: “in”.'
              example: 5.2
            height:
              type: number
              description: 'Units: “in”.'
              example: 1.1
            weight:
              type: number
              minimum: 0
              exclusiveMinimum: true
              example: 100.15
              description: Total weight of the parcel including all items and packaging
            units_weight:
              type: string
              enum: ['oz', 'lb', 'mcg', 'mg', 'g', 'kg']
              default: 'oz'
              example: oz
        items:
          type: array
          items:
            type: object
            required: [description, quantity, value, weight]
            properties:
              description:
                type: string
                maxLength: 255
                example: Black T-shirt
              hs_code:
                type: string
                example: "3304300000"
                minLength: 6
                maxLength: 12
                description: Required for most destination countries. Optional but strongly encouraged to ensure smooth delivery.
              sku:
                type: string
                maxLength: 100
                example: GEN12345
                description: Required for most destination countries
              quantity:
                type: number
                example: 2
              value:
                type: number
                example: 12.34
                minimum: 0
                exclusiveMinimum: true
                description: Value is equivalent to total value of the items = (single item value) x quantity. In this example unit price is $6.17, $6.17 x 2 = $12.34. In other words, if you ship three T-shirts worth $10 each, quantity = 3, value = 30.
              weight:
                type: number
                example: 0.5
                minimum: 0
                exclusiveMinimum: true
                description: 'Units: “oz”. <br> Weight is equivalent to total weight of the items = (single item weight) x quantity. In this example unit weight is 0.25 oz, 0.25 x 2 = 0.5. In other words, if you ship three T-shirts 3 oz each, you should put quantity = 3 and weight = 9.'
              units_weight:
                type: string
                enum: ['oz', 'lb', 'mcg', 'mg', 'g', 'kg']
                default: 'oz'
                example: oz
              origin:
                type: string
                example: "US"
                description: Country of item origin. Use 2-letter ISO country code
                externalDocs:
                  url: http://www.worlddata.info/countrycodes.php
              currency:
                type: string
                default: "USD"
                example: "USD"
                description: Currency of item. Use 3-letter ISO currency code
                externalDocs:
                  url: https://www.worlddata.info/currencies/
        duty_paid:
          type: boolean
          example: true
          description: false = DDU (Delivery Duty Unpaid), true = DDP (Delivery Duty Paid), null will get back both DDU and DDP rates if available
        #        insurance:
        #          type: boolean
        #          example: false
        #          default: false
        #          description: this flag indicates whether the shipper wants to purchase full insurance coverage for the shipment
        contents_type:
          type: string
          enum: ['returned_goods', 'documents', 'gift', 'goods', 'merchandise', 'other', 'returnedgoods', 'sample']
          default: merchandise
          example: "merchandise"
          description: Indication of the goods classification for customs
    Rate_Response:
      type: object
      properties:
        rate:
          type: number
        duty:
          type: number
        tax:
          type: number
        insurance:
          type: number
        currency:
          type: string
          description: Accepted values are three-letter ISO 4217 codes
        serviceName:
          type: string
          enum: ['StandardDdu','StandardDduDelcon','PriorityDdu','PriorityDduDelcon','PriorityDdp','PriorityDdpDelcon','ExpeditedDdpDelcon','ExpressDdpDelcon','ExpeditedDduDelcon','epacketDdp','ExpressDdp','ExpressDduDelcon','GlobalPlus']
      example:
        rate: 10.78
        duty: 0
        tax: 2.47
        insurance: 1.5
        currency: "USD"
        serviceName: "PriorityDdpDelcon"
    Ship_Request:
      type: object
      required: [address_to, address_from, parcel, items, service_name]
      properties:
        reference:
          type: string
          description: The ID you are using for identifying the order for who you are requesting the rate, optional but strongly encouraged
        address_to:
          type: object
          required: [street1, country]
          properties:
            reference:
              type: string
              example: To address 1
            street1:
              type: string
              maxLength: 40
              description: Must contain a street number.
              example: 111 Broadway Ave.
            street2:
              type: string
              maxLength: 40
              example: Floor 7
            city:
              type: string
              maxLength: 32
              example: London
            state:
              type: string
              maxLength: 100
              example: ""
              description: Required for most destination countries. Optional but strongly encouraged to ensure smooth delivery.
            zip:
              type: string
              example: B33 8TH
            country:
              type: string
              example: GB
              description: Use 2-letter ISO country code
              externalDocs:
                url: http://www.worlddata.info/countrycodes.php
            name:
              type: string
              maxLength: 100
              example: John Smith
            company:
              type: string
              maxLength: 100
              example: Company Inc
            phone:
              type: string
              maxLength: 100
              example: 518-111-1111
              description: Optional but strongly encouraged to ensure smooth delivery.
            email:
              type: string
              maxLength: 100
              example: js-myth@example.com
              description: Optional but strongly encouraged to ensure smooth delivery.
            customer_tax_id:
              type: string
              maxLength: 20
              example: CHE-123.456.789 HR
              description: Optional field to include the customer's tax ID if available. Used for customs clearance in certain countries where a local identification number is required (e.g., Brazil CPF/CNPJ, South Korea PCC, Chile RUT, etc.).
        address_from:
          type: object
          required: [street1, country, company]
          properties:
            reference:
              type: string
              maxLength: 100
              example: From address 1
            street1:
              type: string
              maxLength: 40
              example: 111 sunset blvd.
            street2:
              type: string
              maxLength: 40
              example:
            city:
              type: string
              maxLength: 32
              example: Los angeles
            state:
              type: string
              maxLength: 100
              example: CA
              description: Required for most destination countries. Optional but strongly encouraged to ensure smooth delivery.
            zip:
              type: string
              example: "90111"
            country:
              type: string
              example: US
              description: Use 2-letter ISO country code
              externalDocs:
                url: http://www.worlddata.info/countrycodes.php
            name:
              type: string
              maxLength: 100
              example: Allison Fox
            company:
              type: string
              maxLength: 100
              example: ProShip
            phone:
              type: string
              maxLength: 100
              example: 518-111-1111
              description: Optional but strongly encouraged to ensure smooth delivery.
            email:
              type: string
              maxLength: 100
              example: js-myth@example.com
              description: Optional but strongly encouraged to ensure smooth delivery.
        parcel:
          type: object
          required: [length, width, height]
          properties:
            reference:
              type: string
              example: Parcel ID
            length:
              type: number
              example: 10.5
            units_length:
              type: string
              enum: ['in', 'ft', 'mm', 'cm', 'm']
              default: 'in'
              example: in
            width:
              type: number
              description: 'Units: “in”.'
              example: 5.2
            height:
              type: number
              description: 'Units: “in”.'
              example: 1.1
            weight:
              type: number
              minimum: 0
              exclusiveMinimum: true
              example: 100.15
            units_weight:
              type: string
              enum: ['oz', 'lb', 'mcg', 'mg', 'g', 'kg']
              default: 'oz'
              example: oz
        items:
          type: array
          items:
            type: object
            required: [description, quantity, value, weight, service_name]
            properties:
              description:
                type: string
                maxLength: 255
                example: Blackt T-shirt
              hs_code:
                type: string
                example: "3304300000"
                minLength: 6
                maxLength: 12
                description: Required for most destination countries. Optional but strongly encouraged to ensure smooth delivery.
              sku:
                type: string
                maxLength: 100
                example: GEN12345
                description: Required for some destination countries
              quantity:
                type: number
                example: 2
              value:
                type: number
                example: 12.34
                minimum: 0
                exclusiveMinimum: true
                description: Value is equivalent to total value of the items = (single item value) x quantity. In this example unit price is $6.17, $6.17 x 2 = $12.34. In other words, if you ship three T-shirts worth $10 each, quantity = 3, value = 30.
              weight:
                type: number
                example: 0.5
                minimum: 0
                exclusiveMinimum: true
                description: 'Units: “oz”. <br> Weight is equivalent to total weight of the items = (single item weight) x quantity. In this example unit weight is 0.25 oz, 0.25 x 2 = 0.5. In other words, if you ship three T-shirts 3 oz each, you should put quantity = 3 and weight = 9.'
              units_weight:
                type: string
                enum: ['oz', 'lb', 'mcg', 'mg', 'g', 'kg']
                default: 'oz'
                example: oz
              origin:
                type: string
                example: "US"
                description: Country of item origin. Use 2-letter ISO country code
                externalDocs:
                  url: http://www.worlddata.info/countrycodes.php
              currency:
                type: string
                default: "USD"
                example: "USD"
                description: Currency of item. Use 3-letter ISO currency code
                externalDocs:
                  url: https://www.worlddata.info/currencies/
        #        insurance:
        #          type: boolean
        #          example: false
        #          default: false
        #          description: this flag indicates whether the shipper wants to purchase full insurance coverage for the shipment
        contents_type:
          type: string
          enum: ['merchandise', 'documents', 'gift', 'goods', 'other', 'returned_goods', 'returnedgoods', 'sample']
          default: merchandise
          description: Indication of the goods classification for customs
        label_image_format:
          type: string
          enum: ["png", "zpl", "pdf"]
          default: png
        service_name:
          type: string
          example: PriorityDdpDelcon
          enum: ['StandardDdu','StandardDduDelcon','PriorityDdu','PriorityDduDelcon','PriorityDdp','PriorityDdpDelcon','epacketDdp','ExpressDdp','GlobalPlus','ExpeditedDdpDelcon','ExpressDdpDelcon','ExpeditedDduDelcon','ExpressDduDelcon']
    Ship_Response:
      type: object
      properties:
        code:
          type: number
          example: PG3450126846CA
        rate:
          type: number
          example: 18.62
        duty:
          type: number
          example: 0
        tax:
          type: number
          example: 2.47
        insurance:
          type: number
          example: 1.3
          description: 0 or NULL if no insurance
        currency:
          type: string
          description: Accepted values are three-letter ISO 4217 codes
          example: "USD"
        label:
          type: string
          example: https://s3-us-west-2.amazonaws.com/stg-postage-label/20180731/b64515eaf3a7a7729dc40fc07d1e88dc1532985659248.png
          description: Link to the amazon S3 bucket with the file
        tracking_url:
          type: string
          example: https://track-stg.passportshipping.com/PG3450126846CA

    Order_POST_Request:
      type: object
      required: [ total_value, currency_code, order_name, created, shipping ]
      properties:
        total_value:
          type: number
          description: Total value of order in presentment currency
          example: 100.00
        currency_code:
          type: string
          description: Currency code of the total_value
          example: 'USD'
        order_name:
          type: string
          description: Unique order identifier. We encourage this to be the same as the reference field used for shipments in the Rate API
          example: '<in your system>'
        created:
          type: number
          description: Order creation timestamp in UTC
          example: 1707811200
        value:
          type: number
          description: Pre-discounted value (total_value + discounts). Currency should be the same as total_value.
          example: 120.00
        items:
          type: array
          description: Array with information about items ordered. Note that this is an optional field, but if sent, should include certain required fields outlined below.
          items:
            type: object
            required: [ name, requires_shipping, value, value_discounted, quantity, weight ]
            properties:
              id:
                type: string
                description: Item ID
                example:
              name:
                type: string
                description: Name of the product
                example: Sample Product
              sku:
                type: string
                description: Stock keeping unit
                example: SKU123
              requires_shipping:
                type: boolean
                description: If an item requires shipping
                example: true
              value:
                type: number
                description: Product value in presentment currency (no discounts)
                example: 55.00
              value_discounted:
                type: number
                description: Discounted product value in presentment currency
                example: 45.00
              quantity:
                type: number
                description: Number of items ordered
                example: 2
              hs_code:
                type: string
                description: Harmonized System Code
                example: '1234.56.78'
              country_of_origin:
                type: string
                description: Product's country of origin
                example: US
              country_of_fulfillment:
                type: string
                description: Country that the product is fulfilled from (ISO Code)
                example: US
              description:
                type: string
                description: Product description
                example: Product description here
              weight:
                type: number
                description: Item weight. Will use the weight metric configured during onboarding
                example: 123
        address_to:
          type: object
          description: Object with recipient’s address. Note that this is an optional field, but if sent, should include certain required fields outlined below
          required: [ street1, city, country ]
          properties:
            street1:
              type: string
              description: The primary address line of the recipient.
              maxLength: 40
              example: Georg-Leipold-Straße 5
            street2:
              type: string
              description: Additional address details such as floor or apartment.
              maxLength: 40
              example: ''
            city:
              type: string
              description: City of the recipient's address
              maxLength: 32
              example: Weiden in der Oberpfalz
            state:
              type: string
              maxLength: 100
              example: null
              description: State or region of the recipient's address. Mandatory for CA (Canada), optional for other countries.
            zip:
              type: string
              description: ZIP or postal code of the recipient's address. Mandatory for CA (Canada), optional for other countries.
              example: 92637
            country:
              type: string
              example: DE
              description: Country name of the recipients address (ISO code)
            name:
              type: string
              maxLength: 100
              example: Daniel Gauer
              description: Name of the recipient
            phone:
              type: string
              maxLength: 100
              example: 518-111-1111
              description: Phone number of the recipient
            email:
              type: string
              maxLength: 100
              example: daniel.gauer@web.de
              description: Email of the recipient
        shipping:
          type: object
          description: Object with shipping information
          required: [ id, rate, duty, tax, service_name ]
          properties:
            id:
              type: number
              description: Request_id of /cart response that was used
              example: 123456
            rate:
              type: number
              description: Shipping cost in presentment currency
              example: 5.00
            duty:
              type: number
              description: Duty amount in presentment currency
              example: 3.00
            duty_source:
              type: string
              description: Source of duty calculation
              example: Passport
            tax:
              type: number
              description: Tax amount in presentment currency
              example: 2.00
            tax_source:
              type: string
              description: Source of tax calculation (e.g. Passport, Other)
              example: Passport
            service_name:
              type: string
              description: Shipping service name
              example: PassportPriorityDdpDelcon
        customer_tax_id:
          type: string
          description: Optional field to include the customer's tax ID if available. Used for customs clearance in certain countries where a local identification number is required (e.g., Brazil CPF/CNPJ, South Korea PCC, Chile RUT, etc.).
          example: CHE-123.456.789 HR
        order_url:
          type: string
          description: Url of confirmation page once order has been placed
          example: https://passportglobal.com

    Order_PUT_Request:
      type: object
      required: [ total_value, currency_code, order_name, created, shipping ]
      properties:
        total_value:
          type: number
          description: Total value of order in presentment currency
          example: 55.17
        currency_code:
          type: string
          description: Currency code of the total_value
          example: 'USD'
        order_name:
          type: string
          description: Unique order identifier. We encourage this to be the same as the reference field used for shipments in the Rate API
          example: '123123'
        created:
          type: number
          description: Order creation timestamp in UTC
          example: 1707811200
        value:
          type: number
          description: Pre-discounted value (total_value + discounts). Currency should be the same as total_value
          example: 70.8
        items:
          type: array
          description: Object with recipient’s address. Note that this is an optional field, but if sent, should include certain required fields (see Item object below)
          items:
            type: object
            required: [ name, requires_shipping, value, value_discounted, quantity, weight ]
            properties:
              id:
                type: string
                description: Item ID
                example: '123'
              name:
                type: string
                description: Name of the product
                example: 'Product #16787'
              sku:
                type: string
                description: Stock keeping unit
                example: SKU456
              requires_shipping:
                type: boolean
                description: If an item requires shipping
                example: true
              value:
                type: number
                description: Product value in presentment currencies (no discounts)
                example: 550
              value_discounted:
                type: number
                description: Discounted product value in presentment currency
                example: 15
              quantity:
                type: number
                description: Number of items ordered
                example: 2
              hs_code:
                type: string
                description: Harmonized System Code
                example: '125556.78'
              country_of_origin:
                type: string
                description: Product's country of origin
                example: FR
              country_of_fulfillment:
                type: string
                description: Country that the project is fulfilled from (ISO Code)
                example: FR
              description:
                type: string
                description: Product description here
                example: Product description here
              weight:
                type: number
                description: Item weight. Will use the weight metric configured during onboarding
                example: 88
        address_to:
          type: object
          description: Object with recipient’s address (see Address object below)
          required: [ street1, city, country ]
          properties:
            street1:
              type: string
              description: The primary address line of the recipient.
              maxLength: 40
              example: Georg
            street2:
              type: string
              description: Additional address details such as floor or apartment.
              maxLength: 40
              example: ''
            city:
              type: string
              description: City of the recipient's address
              maxLength: 32
              example: Weiden in der Oberpfalz
            state:
              type: string
              maxLength: 100
              example: null
              description: State or region of the recipient's address. Mandatory for CA (Canada), optional for other countries.
            zip:
              type: string
              description: ZIP or postal code of the recipient's address. Mandatory for CA (Canada), optional for other countries.
              example: 92637
            country:
              type: string
              example: DE
              description: Country name of the recipient’s address (ISO Code)
            name:
              type: string
              maxLength: 100
              example: Daniel Gauer
              description: Name of the recipient contact person
            phone:
              type: string
              maxLength: 100
              example: 4911231231230
              description: Phone number of the recipient
            email:
              type: string
              maxLength: 100
              example: testorder@randomtest.com
              description: Email address of the recipient
        shipping:
          type: object
          description: Object with shipping information (see Shipping object below)
          required: [ id, rate, duty, tax, service_code, service_name ]
          properties:
            id:
              type: number
              description: Id of /cart request that was used
              example: 123456
            rate:
              type: number
              description: Shipping cost in presentment currency
              example: 5
            duty:
              type: number
              description: Duty amount in presentment currency
              example: 3
            duty_source:
              type: string
              description: Source of duty calculation
              example: Passport
            tax:
              type: number
              description: Tax amount in presentment currency
              example: 2
            tax_source:
              type: string
              description: Source of tax calculation (e.g. Passport, Other)
              example: Passport
            service_code:
              type: string
              description: Shipping service code
              example: PassportPriorityDdpDelcon
            service_name:
              type: string
              description: Shipping service name
              example: PassportPriorityDdpDelcon
        customer_tax_id:
          type: string
          description: Customer’s tax id if provided
          example: test123
        order_url:
          type: string
          description: Url of confirmation page once order has been placed
          example: https://example.com

    Order_DELETE_Response:
      type: object
      properties:
        deleted:
          type: array
          description: List of order names
          items:
            type: string
            example: "WEB-1001"

    Order_GET_Response:
      type: array
      description: List of order
      items:
        type: object
        properties:
          order_name:
            type: string
            description: Unique order identifier. We encourage this to be the same as the reference field used for shipments in the Rate API
            example: 'store1_order001'
          created:
            type: number
            description: Order creation timestamp in UTC
            example: 1707811200
          value:
            type: number
            description: Pre-discounted value (total_value + discounts). Currency should be the same as total_value.
            example: 120
          items:
            type: array
            description: Array with information about items ordered. Note that this is an optional field, but if sent, should include certain required fields outlined below.
            items:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the product
                  example: Sample Product
                sku:
                  type: string
                  description: Stock keeping unit
                  example: SKU123
                requires_shipping:
                  type: boolean
                  description: If an item requires shipping
                  example: true
                value:
                  type: number
                  description: Product value in presentment currency (no discounts)
                  example: 55
                value_discounted:
                  type: number
                  description: Discounted product value in presentment currency
                  example: 45
                quantity:
                  type: number
                  description: Number of items ordered
                  example: 2
                hs_code:
                  type: string
                  description: Harmonized System Code
                  example: '1234.56.78'
                country_of_origin:
                  type: string
                  description: Product's country of origin
                  example: US
                description:
                  type: string
                  description: Product description
                  example: Product description here
                weight:
                  type: number
                  description: Item weight. Will use the weight metric configured during onboarding
                  example: 123
          address_to:
            type: object
            description: Object with recipient’s address. Note that this is an optional field, but if sent, should include certain required fields outlined below
            properties:
              street1:
                type: string
                description: The primary address line of the recipient.
                maxLength: 40
                example: 30 Rue de la Baie
              street2:
                type: string
                description: Additional address details such as floor or apartment.
                maxLength: 40
                example: ''
              city:
                type: string
                description: City of the recipient's address
                maxLength: 32
                example: Gatineau
              state:
                type: string
                maxLength: 100
                example: QC
                description: State or region of the recipient's address. Mandatory for CA (Canada), optional for other countries.
              zip:
                type: string
                description: ZIP or postal code of the recipient's address. Mandatory for CA (Canada), optional for other countries.
                example: J8T 3H5
              country:
                type: string
                example: CA
                description: Country name of the recipients address (ISO code)
              name:
                type: string
                maxLength: 100
                example: Daniel Gauer
                description: Name of the recipient
              phone:
                type: string
                maxLength: 100
                example: 49162342340
                description: Phone number of the recipient
              email:
                type: string
                maxLength: 100
                example: test@test.test
                description: Email of the recipient
          shipping:
            type: object
            description: Object with shipping information
            properties:
              id:
                type: number
                description: Request_id of /cart response that was used
                example: 123456
              rate:
                type: number
                description: Shipping cost in presentment currency
                example: 5
              duty:
                type: number
                description: Duty amount in presentment currency
                example: 3
              duty_source:
                type: string
                description: Source of duty calculation
                example: Passport
              tax:
                type: number
                description: Tax amount in presentment currency
                example: 2
              tax_source:
                type: string
                description: Source of tax calculation (e.g. Passport, Other)
                example: Passport
              service_name:
                type: string
                description: Shipping service name
                example: PassportPriorityDdpDelcon
          customer_tax_id:
            type: string
            description: Optional field to include the customer's tax ID if available. Used for customs clearance in certain countries where a local identification number is required (e.g., Brazil CPF/CNPJ, South Korea PCC, Chile RUT, etc.).
            example: CHE-123.456.789 HR
          integration_id:
            type: number
            description: ''
            example: 6
          presentment_currency:
            type: string
            description: The currency to which all amounts should be converted to.
            example: "USD"
          value_discounted_presentment_currency:
            type: number
            description: ''
            example: 150

    Cart_Request:
      type: object
      required: [ address_from, address_to, items ]
      properties:
        reference:
          type: string
          description: Unique identifier for the request.
          example: "ORDER12345"
        service_name:
          type: string
          description: The name of shipping service requested. If left empty, will return all shipping services configured for the brand.
          enum: ["StandardDdu", "StandardDduDelcon", "PriorityDdu", "PriorityDduDelcon", "PriorityDdp", "PriorityDdpDelcon", "epacketDdp", "ExpressDdp", "GlobalPlus", "ExpeditedDdpDelcon", "ExpressDdpDelcon", "ExpeditedDduDelcon", "ExpressDduDelcon"]
          example: "Express"
        contents_type:
          type: string
          description: Describes the type of shipment content for goods clarification at customs.
          enum: ["merchandise", "returned_goods", "documents", "gift", "goods", "other", "sample"]
          example: "merchandise"
        presentment_currency:
          type: string
          description: The currency to which all amounts should be converted to.
          example: "EUR"
        address_from:
          type: object
          required: [ street1, city, state, zip, country, company ]
          properties:
            street1:
              type: string
              description: The primary address line of the sender.
              example: "123 Main St"
            street2:
              type: string
              description: Additional address details such as floor or apartment.
              example: "Apt 4B"
            city:
              type: string
              description: City of the sender's address.
              example: "Los Angeles"
            state:
              type: string
              description: |
                State or region of the sender's address.
                Mandatory for CA (Canada), optional for other countries.
              example: "CA"
            zip:
              type: string
              description: |
                ZIP or postal code of the sender's address.
                Mandatory for CA (Canada), optional for other countries.
              example: "90045"
            country:
              type: string
              description: Country code (ISO 2-letter) of the sender's address.
              example: "US"
            company:
              type: string
              description: Company name of the sender.
              example: "Sender Inc."
            name:
              type: string
              description: Name of the sender contact person.
              example: "Alice Johnson"
        address_to:
          type: object
          required: [ street1, city, state, zip, country ]
          properties:
            street1:
              type: string
              description: The primary address line of the recipient.
              example: "81 Bay Street"
            street2:
              type: string
              description: Additional address details such as floor or apartment.
              example: ""
            city:
              type: string
              description: City of the recipient's address.
              example: "Toronto"
            state:
              type: string
              description: |
                State or region of the recipient's address. Mandatory for Canada, United States, Spain; optional for other countries.
              example: "ON"
            zip:
              type: string
              description: ZIP or postal code of the recipient's address. Mandatory for Canada, United States, Spain; optional for other countries.
              example: "M5J0E7"
            country:
              type: string
              description: Country code (ISO 2-letter) of the recipient's address.
              example: "Canada"
            name:
              type: string
              description: Name of the recipient.
              example: "Bob Smith"
            phone:
              type: string
              description: Phone number of the recipient.
              example: "555-987-6543"
            email:
              type: string
              description: Email address of the recipient.
              example: "bob@example.com"
        parcel:
          type: object
          description: Parcel details. This is optional, but highly recommended. If not provided, will use dimensions provided during onboarding.
          properties:
            length:
              type: number
              description: Length of the parcel. Length unit to be set up during onboarding (cm/ in)
              example: 10.5
            width:
              type: number
              description: Width of the parcel. Width unit to be set up during onboarding (cm/ in)
              example: 5.2
            height:
              type: number
              description: Height of the parcel. Height unit to be set up during onboarding (cm/ in)
              example: 1.1
            weight:
              type: number
              description: Weight of the parcel. Weight unit to be set up during onboarding (oz / lb / kg / g)
              example: 10.15
        items:
          type: array
          description: Array of items to be shipped.
          items:
            type: object
            required: [ quantity, value, weight ]
            properties:
              description:
                type: string
                description: Description of the item.
                example: "Black T-Shirt"
              hs_code:
                type: string
                description: Harmonized System (HS) code for customs declaration.
                example: "9505900000"
              sku:
                type: string
                description: Stock Keeping Unit (SKU) identifier for the item.
                example: "TSHIRT123"
              quantity:
                type: number
                description: Number of units of the item.
                example: 2
              value:
                type: number
                description: Total value of the item. This is the post-discounted value in store currency.
                example: 24.68
              weight:
                type: number
                description: Total weight of the item. Weight unit to be set up during onboarding (oz / lb / kg / g)
                example: 1.0
              origin:
                type: string
                description: Origin country of item.
                example: "US"

    Cart_Response:
      type: object
      required: [ request_id, currency, rates ]
      properties:
        request_id:
          type: string
          description: Unique identifier for tracking the API request.
          example: "682302a7-6c05-438f-ae8e-9b8cffc054b2"
        currency:
          type: string
          description: The currency in which all returned prices are converted.
          example: "EUR"
        rates:
          type: array
          description: List of available shipping rates.
          items:
            type: object
            required: [ service_name, service_code, rate, tax, duty, total, edd ]
            properties:
              service_name:
                type: string
                description: The name of the shipping service offered.
                example: "Passport Priority Duties and Taxes Paid"
              service_code:
                type: string
                description: The service code of the shipping service.
                example: "PriorityDdpDelcon"
              rate:
                type: number
                description: Shipping cost before additional charges.
                example: 9
              tax:
                type: number
                description: Tax amount applied to the shipping cost.
                example: 0
              duty:
                type: number
                description: Customs duty applied to the shipping cost.
                example: 6
              insurance:
                type: number
                description: Cost of insurance for the shipment.
                example: 1
              formatted:
                type: object
                description: Default formatted (e.g. currency symbol, placement etc) string values for amounts. Format can be customized by contacting Passport.
                properties:
                  rate:
                    type: string
                    example: "€9"
                  tax:
                    type: string
                    example: "€0"
                  duty:
                    type: string
                    example: "€6"
                  insurance:
                    type: string
                    example: "€1"
              description:
                type: string
                description: Description of service level
                example: "The total amount is inclusive of all local duties, taxes and fees. We guarantee no additional charges on delivery."
              total:
                type: number
                description: Total shipping, tax, duty, and insurance amounts.
                example: 16
              edd:
                type: object
                required: [ min_days, max_days ]
                properties:
                  min_days:
                    type: number
                    description: Minimum estimated delivery time in days.
                    example: 7
                  max_days:
                    type: number
                    description: Maximum estimated delivery time in days.
                    example: 11
                  message:
                    type: string
                    description: A user-friendly delivery message.
                    example: "7-11 business days."
              duty_tax_breakdown:
                type: array
                description: Item level breakdown of duties and taxes calculated for each item.
                items:
                  type: object
                  properties:
                    sku:
                      type: string
                      description: SKU of the item.
                      example: "TSHIRT123"
                    description:
                      type: string
                      description: Description of the item.
                      example: "Black T-Shirt"
                    tax:
                      type: number
                      description: Tax amount for the item.
                      example: 0
                    duty:
                      type: number
                      description: Duty amount for the item.
                      example: 6

    ProductPrice_Request:
      type: object
      required: [ base_currency, presentment_currency, country, values ]
      properties:
        base_currency:
          type: string
          description: Currency code of currency to convert from (brand's store currency)
          example: USD
        presentment_currency:
          type: string
          description: Currency code of currency to convert to
          example: CAD
        country:
          type: string
          description: Country ISO2 code the presentment_currency belongs to
          example: CA
        values:
          type: array
          description: List of products with reference and value to convert
          items:
            type: object
            required:
              - reference
              - value
            properties:
              reference:
                type: string
                description: Reference field to link the request and response values
                example: Product_1_USD_CAD
              value:
                type: number
                description: Value to convert
                example: 1
          example:
            - reference: "Product_1_USD_CAD"
              value: 1
            - reference: "Product_2_USD_CAD"
              value: 2.35

    ProductPrice_Response:
      type: object
      required: [ base_currency, presentment_currency, currency_symbol, currency_code, currency_text, country, converted_values ]
      properties:
        base_currency:
          type: string
          description: Currency to convert from (brand's store currency)
          example: USD
        presentment_currency:
          type: string
          description: Currency to convert to
          example: CAD
        currency_symbol:
          type: string
          description: Currency symbol
          example: CAD
        currency_code:
          type: string
          description: Currency code
          example: CAD
        currency_text:
          type: string
          description: Currency name
          example: Canadian Dollar
        country:
          type: string
          description: Country ISO2 code that presentment_currency belongs to
          example: CA
        converted_values:
          type: array
          description: Converted values for all provided products
          items:
            type: object
            required: [reference, value, converted_value, conversion_rate, converted_value_with_fee, conversion_fee, converted_value_with_fee_rounded, converted_value_formatted]
            properties:
              reference:
                type: string
                description: Reference field to link the request and response values
                example: Product_1_USD_CAD
              value:
                type: number
                description: Original value to convert
                example: 1
              converted_value:
                type: string
                description: Converted value (before fee)
                example: "1.31234"
              adjustment:
                type: string
                description: Price adjustment applied to each product price
                example: "10%"
              adjusted_value:
                type: number
                description: Value after price adjustment
                example:  1.1
              conversion_rate:
                type: string
                description: Conversion rate used
                example: "1.31234"
              converted_value_with_fee:
                type: string
                description: Converted value with conversion fee
                example: "1.44357"
              conversion_fee:
                type: string
                description: Conversion fee amount added
                example: "0.1"
              converted_value_with_fee_rounded:
                type: string
                description: Converted value with conversion fee, rounded as per rules
                example: "1.44"
              converted_value_formatted:
                type: string
                description: Formatted converted value
                example: "1.44 CAD"
          example:
            - reference: "Product_1_USD_CAD"
              value: 1
              converted_value: "1.31234"
              conversion_rate: "1.31234"
              converted_value_with_fee: "1.44357"
              conversion_fee: "0.1"
              converted_value_with_fee_rounded: "1.44"
              converted_value_formatted: "1.44 CAD"
            - reference: "Product_2_USD_CAD"
              value: 2.35
              converted_value: "3.08400"
              conversion_rate: "1.31234"
              converted_value_with_fee: "3.39240"
              conversion_fee: "0.1"
              converted_value_with_fee_rounded: "3.39"
              converted_value_formatted: "3.39 CAD"

    TaxAndDuty_Request:
      type: object
      required: [ shipping_rate, address_from, address_to, items ]
      properties:
        reference:
          type: string
          description: Unique identifier for the request.
          example: "ORDER12345"
        presentment_currency:
          type: string
          description: The currency to which all amounts should be converted to. If not provided, will default to the store currency configured during onboarding.
          example: "EUR"
        shipping_rate:
          type: number
          description: Cost of shipping in store currency. If Free Shipping, can pass 0.
          minimum: 0
          example: 0
        insurance:
          type: number
          description: Insurance amount applicable in store currency.
          minimum: 0
          example: 0
        address_from:
          type: object
          required: [ country ]
          properties:
            street1:
              type: string
              description: The primary address line of the sender.
              example: "123 Main St"
            street2:
              type: string
              description: Additional address details such as floor or apartment.
              example: "Apt 4B"
            city:
              type: string
              description: City of the sender's address.
              example: "Los Angeles"
            state:
              type: string
              description: State or region of the sender's address.
              example: "CA"
            zip:
              type: string
              description: ZIP or postal code of the sender's address.
              example: "90045"
            country:
              type: string
              description: Country name of the sender's address. Use 2-letter ISO country code.
              example: "US"
              externalDocs:
                url: http://www.worlddata.info/countrycodes.php
        address_to:
          type: object
          required: [ country ]
          properties:
            street1:
              type: string
              description: The primary address line of the recipient.
              example: "81 Bay Street"
            street2:
              type: string
              description: Additional address details such as floor or apartment.
              example: ""
            city:
              type: string
              description: City of the recipient's address.
              example: "Toronto"
            state:
              type: string
              description: |
                State or region of the recipient's address.
                Mandatory for CA, US, Spain. Optional for ROW.
              example: "ON"
            zip:
              type: string
              description: |
                ZIP or postal code of the recipient's address.
                Mandatory for CA, US, Spain. Optional for ROW.
              example: "M5J0E7"
            country:
              type: string
              description: Country name of the recipient's address. Use 2-letter ISO country code.
              example: "CA"
              externalDocs:
                url: http://www.worlddata.info/countrycodes.php
        items:
          type: array
          description: Array of items to calculate tax and duty for.
          items:
            type: object
            required: [ quantity, value ]
            properties:
              description:
                type: string
                description: Description of the item in the package. Recommended for accurate D&T Calculations.
                example: "Black T-Shirt"
              hs_code:
                type: string
                description: |
                  Harmonized System (HS) code for customs declaration. Recommended for accurate D&T Calculations.
                  If not provided, will use the HS Code configured during onboarding.
                example: "9505900000"
              sku:
                type: string
                description: Stock Keeping Unit (SKU) identifier for the item. Recommended for accurate D&T Calculations.
                example: "TSHIRT123"
              quantity:
                type: number
                description: Number of units of the item.
                example: 2
              value:
                type: number
                description: Total value of the item (price per unit * quantity - discounts) in the store currency.
                minimum: 0
                exclusiveMinimum: true
                example: 24.68
              weight:
                type: number
                description: Total weight of the item (weight per unit * quantity). Will use the weight metric configured during onboarding.
                minimum: 0
                example: 1.0
              origin:
                type: string
                description: |
                  Origin country of item. If not provided, will use the origin configured during onboarding.
                  Use 2-letter ISO country code.
                example: "US"
                externalDocs:
                  url: http://www.worlddata.info/countrycodes.php

    TaxAndDuty_Response:
      type: object
      required: [ request_id, currency, rates ]
      properties:
        request_id:
          type: string
          description: Unique identifier for tracking the API request.
          example: "682302a7-6c05-438f-ae8e-9b8cffc054b2"
        currency:
          type: string
          description: The currency in which all returned prices are converted.
          example: "EUR"
        rates:
          type: array
          description: List of tax and duty rates.
          items:
            type: object
            required: [ tax, duty, total, formatted, duty_tax_breakdown ]
            properties:
              tax:
                type: number
                description: Tax amount applied to the shipping cost.
                example: 0
              duty:
                type: number
                description: Customs duty applied to the shipping cost.
                example: 6
              total:
                type: number
                description: Total shipping, tax, duty, & insurance amounts.
                example: 16
              formatted:
                type: object
                required: [ tax, duty ]
                description: Default formatted (e.g. currency symbol, placement etc) string values for amounts. Format can be customized by contacting Passport.
                properties:
                  tax:
                    type: string
                    description: Formatted tax value.
                    example: "€0"
                  duty:
                    type: string
                    description: Formatted duty value.
                    example: "€6"
              duty_tax_breakdown:
                type: array
                description: Item level breakdown of duties & taxes calculated for each item.
                items:
                  type: object
                  properties:
                    sku:
                      type: string
                      description: Item identifier.
                      example: "TSHIRT123"
                    description:
                      type: string
                      description: Item description.
                      example: "Black T-Shirt"
                    tax:
                      type: number
                      description: Tax for a particular item.
                      example: 0
                    duty:
                      type: number
                      description: Duty for a particular item.
                      example: 6
